# --- BACKEND (carpeta: backend/) ---

# Java - default
backend/*.class
backend/*.log
backend/*.ctxt
backend/.mtj.tmp/
backend/*.jar
backend/*.war
backend/*.nar
backend/*.ear
backend/*.zip
backend/*.tar.gz
backend/*.rar
backend/hs_err_pid*
backend/replay_pid*

# Eclipse-specific (just for me [Author] to work)
# backend/.classpath
# backend/.settings/

# IDE comunes (in case I open the proyect with IntelliJ)
backend/.idea/
backend/*.iml

# Maven build
backend/target/
backend/pom.xml.tag
backend/pom.xml.releaseBackup
backend/pom.xml.versionsBackup
backend/pom.xml.next
backend/release.properties
backend/dependency-reduced-pom.xml
backend/buildNumber.properties
backend/.mvn/timing.properties
backend/.mvn/wrapper/maven-wrapper.jar

# Test reports
backend/target/surefire-reports/
backend/*.txt

# Sistema operativo (para todo el proyecto)
.DS_Store
Thumbs.db
ehthumbs.db

# Personal config (replaced by application-example.properties)
backend/src/main/resources/application.properties

# --- FRONTEND (carpeta: frontend/frontend-gestor-tareas/) ---

# Node modules
frontend/frontend-gestor-tareas/node_modules/

# Build outputs
frontend/frontend-gestor-tareas/dist/

# Vite cache
frontend/frontend-gestor-tareas/.vite/

# System files / lock files
frontend/frontend-gestor-tareas/.env
frontend/frontend-gestor-tareas/.DS_Store
frontend/frontend-gestor-tareas/yarn.lock
frontend/frontend-gestor-tareas/package-lock.json

# PWA (vite-plugin-pwa) dev artifacts
frontend/frontend-gestor-tareas/dev-dist/
frontend/frontend-gestor-tareas/dev-dist
/frontend/frontend-gestor-tareas/dev-dist
