# Java - default
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*

# Eclipse-specific (just for me [Author] to work)
# .classpath
# .settings/

# IDE comunes (in case I open the proyect with IntelliJ)
.idea/
*.iml

# Maven build
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Test reports
target/surefire-reports/
*.txt

# Sistema operativo
.DS_Store
Thumbs.db
ehthumbs.db

# Personal config (replaced by application-example.properties)
src/main/resources/application.properties
